.container {
  display: flex;
  align-items: center;
  background-color: darkslateblue;
  height: 50px;
  padding: 5px 0;
}
.info {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav a {
  text-decoration: none;
}

.title {
  color: white;
}

.span {
  color: fuchsia;
}

.myTask {
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.5s;
}

.myTask:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.account {
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.5s;
}

.account:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}
