.container {
  width: 100%;
  max-width: 1024px;
  margin: 40px auto 0 auto;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  width: 100%;
}

.main h1 {
  margin-bottom: 20px;
}

.task {
  border: 1px solid #ccc;
  padding: 15px;
  line-height: 150%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task p {
  white-space: pre-wrap;
  width: 100%;
}
.comments {
  width: 100%;
  margin: 10px 0;
}

.comments h2 {
  margin: 14px 0;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: darkslateblue;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
}

.submitButton:hover {
  background-color: slateblue;
}

.submitButton:disabled {
  background-color: rgb(119, 108, 189);
  cursor: not-allowed;
}

.comments article {
  border: 1px solid rgb(119, 108, 189);
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 14px;
}

.headerComment {
  display: flex;
  align-items: center;
}

.UserName {
  background-color: #ccc;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
}

.deleteButton {
  padding: 4px 8px;
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
}
.deleteButton:hover {
  background-color: darkred;
  cursor: pointer;
}

.comment p {
  margin-top: 14px;
  white-space: pre-wrap;
}
